<div class="container">
  <h1 class="my-4">Your Adverts</h1>

  <div class="list-group" *ngIf="adverts$ | async as adverts">
    <a
      *ngFor="let advert of adverts"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ advert.title }}</h5>
        <small>Date Listed: {{ advert.listDate | date: 'd/M/y' }}</small>
      </div>
      <p class="mb-1 my-2">
       {{ advert.description }}
      </p>
      <span class="price">{{ advert.price | currency: 'ZAR' : 'symbol-narrow' }}</span>
      <button class="btn btn-outline-dark btn-sm mx-3 my-2" [routerLink]="['/edit', advert.id, advert.owner]">Edit</button>
      <button class="btn btn-outline-danger btn-sm" (click)="deleteAdvert(advert.id)">Delete</button>
    </a>
  </div>

  <div *ngIf="adverts$ | async as adverts">
    <p *ngIf="adverts.length ==0">You don't currently have any adverts listed.</p>
    <button class="btn btn-outline-dark" *ngIf="adverts.length ==0" [routerLink]="['/edit', 0, 0]">Create Advert</button>
  </div>
</div>
